* {
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif, Calibri, 'Trebuchet MS', sans-serif;
    color: #414141
}

.card{
    background-color: aqua;
    height: 400px;
    width: 300px;
    display: inline-block;
}

.slide {
    height: 200px;
    width: 300px;
}

.upper-slide{
    background-size: cover;
    background-color: blueviolet;

}

.lower-slide{
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#drinks-slide {
    background-image: url("https://i.ibb.co/v34VVcX/drinks.jpg");
}
#entrees-slide {
    background-image: url("https://i.ibb.co/G5mRbRX/entrees.jpg");
}
#dessert-slide {
    background-image: url("https://i.ibb.co/yWxRkz1/dessert.jpg");
}

.lower-slide h3, .lower-slide p {
    text-align: center;
}

.lower-slide h3 {
    margin-top: 35px;
}